#topbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  position: fixed;
  background: #ffffff;
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);

  .topbar-left {
    z-index: 1;
    float: left;
    width: 220px;
    height: 50px;
    position: relative;
    //text-align: center;
    background-color: #f5f5f5;
  }

  .logo {
    //font-size: 17px;
    //font-weight: bold;
    //line-height: 50px;
    height: 50px;
    //letter-spacing: .05em;
    //color: #212121 !important;
    //text-transform: uppercase;
    //font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;

    span {
      //margin-left: 4px;
      //display: inline-block;
    }

    svg {
      width: 220px;
      height: 40px;
      //margin-top: -9px;
      //margin-left: 5px;
      //vertical-align: middle;

      .st0 {
        transition: fill 300ms 500ms;
      }
    }

    small {
      font-size: 10px;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.2);
    }
  }

  //.topbar-left {
  //    width: 240px !important;
  //
  //    .logo {
  //        span {
  //            margin-left: 4px;
  //            display: inline-block;
  //        }
  //    }
  //}
  .button-menu {
    float: left;

    .button-menu-mobile {
      border: none;
      color: #888888;
      cursor: pointer;
      font-size: 21px;
      padding: 0 15px;
      line-height: 50px;
      background: transparent;
    }
  }

  .navbar-form {
    float: left;
    border: none;
    box-shadow: none;

    .form-group {
      margin: 0;
      height: 50px;
      display: inline-block;
    }
  }

  .btn-search {
    display: none;
  }

  .navbar-default {
    padding: 0;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    background-color: #ffffff;

    .navbar-nav {
      &.navbar-left {
        float: left;
        .nav-item {
          margin-left: 5px;

          @media only screen and (max-width: 1250px) {
            &:not(:hover):not(.open) > a > i {
              margin-right: 0;
            }
            &:not(:hover):not(.open) > a > span.title {
              display: none;
            }
          }
        }
      }
      &.navbar-right {
        float: right;
        .nav-item:not(:last-of-type) {
          margin-right: 5px;
        }
      }

      .nav-item:hover {
        box-sizing: border-box;
        border-bottom-width: 3px;
        border-bottom-style: solid;

        & > a {
          margin-bottom: -3px;
        }

      }

      .nav-item.active {
        background: $brand-secondary;
        box-sizing: border-box;
        border-bottom-width: 3px;
        border-bottom-style: solid;

        > a {
          color: #eeeeee !important;
          margin-bottom: -3px;
        }
      }
    }
  }

  .nav {
    > li.nav-item {
      margin-left: 0;

      > a {
        padding: 0 15px;
        line-height: 50px;
        height: 50px;
        position: relative;
        color: #29363A !important;
        display: flex;
        align-items: center;

        > i {
          font-size: 20px;
          margin-right: 5px;
        }
      }

      &.shortcut {
        padding: 0 7.5px;

        > a {
          padding: 0;
          width: 36px;
          height: 36px;
          line-height: 1;
          margin-top: 7px;
          text-align: center;
          //margin-bottom: 16px;
          border-radius: 50px;
          display: inline-block;

          > i {
            opacity: 1;
            font-size: 1.5rem;
            line-height: 2.4rem;
            transition: all 200ms;
          }

          &:hover {

            > i {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .dropdown-menu {
    margin: 3px 0 0;
    z-index: 998;
    min-width: 10rem;
    max-height: 70vh;
    border-top: none;
    overflow-y: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.2);

    .dropdown-item {
      display: block;

      i {
        color: $brand-secondary;
        margin-right: .4rem;
      }

      a {
        color: $brand-secondary !important;
        display: block;
      }
    }

    .notification-title {
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      padding: 5px 0 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .list-group {
      margin-bottom: 0;

      .list-group-item {
        border: none;
        border-radius: 0;
        padding: 10px 20px;

        &:last-child {
          text-align: center;
        }
      }
    }
  }

  .user-image {
    position: relative;
    height: 35px;
    width: 35px;

    .initials {
      position: absolute;
      top: 1px;
      left: 1px;
      height: 33px;
      width: 33px;
      border-radius: 20px;
      background-color: $brand-secondary;
      color: white;
      line-height: 33px;
      text-align: center;
      font-weight: bold;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 35px;
      width: 35px;
      background-color: #ffffff;
    }
  }
}

body.expand {
  #topbar {
    .topbar-left {
      width: 240px !important;

      .logo {
        span {
          margin-left: 4px;
          display: inline-block;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {

  #topbar {
    .dropdown-menu {
      top: 50px;
      position: fixed;
      max-height: calc(100vh - 85px);
      left: $grid-gutter-width-base/2;
      right: $grid-gutter-width-base/2;
    }
  }

  body.expand {
    #topbar {
      .topbar-left {
        width: 50% !important;
      }
    }
  }
}
