//
// Fonts
// --------------------------------------------------
@import "glyphicons";
@import "montserrat";
@import "font-awesome";

@import "fa5/fontawesome";
@import "fa5/solid";
@import "fa5/regular";

@font-face {
  font-family: 'FontAwesome';
  src: url('{{ asset_path("theme::fonts/fa5/fa-regular-400.eot") }}');
  src: url('{{ asset_path("theme::fonts/fa5/fa-regular-400.eot") }}?#iefix') format('embedded-opentype'),
  url('{{ asset_path("theme::fonts/fa5/fa-regular-400.woff2") }}') format('woff2'),
  url('{{ asset_path("theme::fonts/fa5/fa-regular-400.woff") }}') format('woff'),
  url('{{ asset_path("theme::fonts/fa5/fa-regular-400.ttf") }}') format('truetype'),
  url('{{ asset_path("theme::fonts/fa5/fa-regular-400.svg") }}#fontawesome') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'FontAwesomeRegular';
  src: url('{{ asset_path("theme::fonts/fa5/fa-regular-400.eot") }}');
  src: url('{{ asset_path("theme::fonts/fa5/fa-regular-400.eot") }}?#iefix') format('embedded-opentype'),
  url('{{ asset_path("theme::fonts/fa5/fa-regular-400.woff2") }}') format('woff2'),
  url('{{ asset_path("theme::fonts/fa5/fa-regular-400.woff") }}') format('woff'),
  url('{{ asset_path("theme::fonts/fa5/fa-regular-400.ttf") }}') format('truetype'),
  url('{{ asset_path("theme::fonts/fa5/fa-regular-400.svg") }}#fontawesome') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'FontAwesomeSolid';
  src: url('{{ asset_path("theme::fonts/fa5/fa-solid-900.eot") }}');
  src: url('{{ asset_path("theme::fonts/fa5/fa-solid-900.eot") }}?#iefix') format('embedded-opentype'),
  url('{{ asset_path("theme::fonts/fa5/fa-solid-900.woff2") }}') format('woff2'),
  url('{{ asset_path("theme::fonts/fa5/fa-solid-900.woff") }}') format('woff'),
  url('{{ asset_path("theme::fonts/fa5/fa-solid-900.ttf") }}') format('truetype'),
  url('{{ asset_path("theme::fonts/fa5/fa-solid-900.svg") }}#fontawesome') format('svg');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  src: url('{{ asset_path("theme::fonts/fa5/fa-regular-400.eot") }}');
  src: url('{{ asset_path("theme::fonts/fa5/fa-regular-400.eot") }}?#iefix') format('embedded-opentype'),
  url('{{ asset_path("theme::fonts/fa5/fa-regular-400.woff2") }}') format('woff2'),
  url('{{ asset_path("theme::fonts/fa5/fa-regular-400.woff") }}') format('woff'),
  url('{{ asset_path("theme::fonts/fa5/fa-regular-400.ttf") }}') format('truetype'),
  url('{{ asset_path("theme::fonts/fa5/fa-regular-400.svg") }}#fontawesome') format('svg');
  font-style: normal;
  font-weight: 400;
}

.fa,
.fas {
  font-family: 'FontAwesomeSolid';
  font-weight: 900;
}

.far {
  font-family: 'FontAwesomeRegular';
  font-weight: 400;
}

.fa-long-arrow-right:before {
  content: "\f054";
}